*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem;
}

:root {
    --bg-color: #000;
    --font-color: #fff;
    --secondary-bg-color:#ff4900;
    --font: "Pappins";
}
body {
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--font-color);
    height: 100vh;
    max-width: 100vw;
}
.container {
    padding: 0rem 12rem 0 12rem;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 2rem;
    }
}


/*------------HEADER-----------*/
.navbar {
   /*display: flex;*/
   /*justify-content: space-between; */
   padding: 0 12rem;
   background-color: var(--bg-color); 
   position: relative;
}

.logo img {
    width: 120px;
    height: auto;
    margin-top: 1rem;
}

.header__info ul li {
    padding: 2.5rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
}

.hireMe__button a {
    background-color: var(--secondary-bg-color);
    color: var(--font-color);
    font-family: var(--font);
    font-size: small;
    padding: 1rem 1.5rem;
    border-color: unset;
    border-width: 0;
}

.header__info ul li:hover {
    background-color: var(--secondary-bg-color);
}


/**-Responsive desing navbar-**/

/*------------HOME-----------*/

/*------------ABOUT ME-----------*/

/*------------SERVICES-----------*/

/*------------PORTAFOLIO-----------*/

/*------------FREE LANCER-----------*/

/*------------FOOTER-----------*/

/*------------HOME-----------*/


